h1{color:green;
text-align:center;padding:5px;outline-style:groove;outline-color:greenyellow;}
  hr{stroke-width:20px}

p{color:red;
text-align:center;}
img{border-radius:80%; align-items: center;width:190px}
div{text-align:center;text-anchor: green;
}
